*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*@font-face {
  font-family: 'Flexo';
  src: url("../assets/font/Flexo/Flexo-Regular.otf");
}
.style-title {
  color: gray;
  font-size: 50px;
  font-family: 'Flexo';
}*/
.container{
  margin-right: 12%;
  margin-left: 12%;
  position: absolute;
  width: 80%;
  padding-top: 20px;
}
h1{
  color: #f24b4b;
  text-align: center;
}
#input-buscador{
  margin-top: 20px;
  width: 500px;
  height: 30px;
  padding-left: 20px;
  border: 0px solid transparent;
  border-bottom: 1px solid gray;
  outline: none;
}
.pokemon{
  display: inline-block;
  position: relative;
  background-color: #dbd6d6;
  width: 180px;
  height: 220px;
  margin-right: 10px;
  margin-bottom: 30px;
}
img{
  width: 100%;
}

.lista-pokemons{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.comandos{
  text-align: center;
  background-image: url("../assets/icon/notch-collectibles.png");
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}
.iconos{
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 15px;
  margin-top: 5px;
  padding-left: 50px;
}
.icon{
  width: 15px;
  height: 15px;
}
.nombre-pokemon{
  font-size: 15px;
}
.cerrar{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.descripcion{
  position: fixed;
  z-index: 4;
  width: 1100px;;
  height: 400px;
  background-color: #e0dede;
  display:none ;
}

.izquierda{
  padding-left: 20%;
  padding-top: 50px;
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
}

.caracteristica{
  width: 100%;
  height: 100px;
  background-color: #6c97fc;
  margin-top: 10px;
}
.derecha{
  padding-top: 10px;
  word-wrap: break-word;
  top: 0;
  right: 200px;
  position: absolute;
  display: inline-block;
  width: 400px;
}
h2, p, .tipo, .debilidad{
  margin-bottom: 10px;
}
.tipo, .debilidad{
  padding-left: 3px;
  text-align: center;
  display: inline-block;
  width: 80px;
  background-color: green;
}
